body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(".\\assets\\clouds.webp");
    backdrop-filter: blur(20px);
}

.title {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12vw;
    font-family: kollektif;
}

@font-face {
    font-family: kollektif;
    src: url('./kollektif/Kollektif-Bold.ttf') format('truetype');
}