html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    height: 55px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px #00000030;
    left: 0px;
    top: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    
}
.header-icon {
    text-decoration-line: none;
    color: black;
    margin-left: 10px;
    font-size: 300%;
    font-family: sans-serif;
    font-weight: bolder;
    user-select: none;
    transition: all 0.15s;
}

.header-icon:hover {
    color:rgb(162, 1, 199);
    font-size: 320%;
    
}

.links {
    display: flex;
    padding-right: 25px;
    flex-grow: 1;
    gap: 25px;
    justify-content: right;
    font-family: Calibri;
    user-select: none;
}

.hamburger-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    mask-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjEyOCIgem9vbUFuZFBhbj0ibWFnbmlmeSIgdmlld0JveD0iMCAwIDk2IDk1Ljk5OTk5OSIgaGVpZ2h0PSIxMjgiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHZlcnNpb249IjEuMCI+PGRlZnM+PGNsaXBQYXRoIGlkPSIzODdkMzI0ODNkIj48cGF0aCBkPSJNIDAgNDAuNSBMIDk2IDQwLjUgTCA5NiA1NS41IEwgMCA1NS41IFogTSAwIDQwLjUgIiBjbGlwLXJ1bGU9Im5vbnplcm8iLz48L2NsaXBQYXRoPjwvZGVmcz48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNIDAgMCBMIDk1Ljk3NjU2MiAwIEwgOTUuOTc2NTYyIDE1IEwgMCAxNSBaIE0gMCAwICIgZmlsbC1vcGFjaXR5PSIxIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNIDAgODEgTCA5NS45NzY1NjIgODEgTCA5NS45NzY1NjIgOTYgTCAwIDk2IFogTSAwIDgxICIgZmlsbC1vcGFjaXR5PSIxIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48ZyBjbGlwLXBhdGg9InVybCgjMzg3ZDMyNDgzZCkiPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik0gMCA0MC41IEwgOTUuOTc2NTYyIDQwLjUgTCA5NS45NzY1NjIgNTUuNSBMIDAgNTUuNSBaIE0gMCA0MC41ICIgZmlsbC1vcGFjaXR5PSIxIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+Cg==");
    mask-size: cover;
    /* transition: all 0.15s; */
}

/* .hamburger-icon:hover {
    background-color: rgb(162, 1, 199);
} */

@media (max-width: 600px) {
    .links a {
      display: none;
    }
    .hamburger-icon {
        display: inline;
    }
}
@media (min-width: 600px) {
    .links a {
        display: flex;
      }
    .hamburger-icon {
        display: none;
    }
}

a, a:visited {
    color: #000000;
    text-decoration: none;
    font-family: Calibri;
}

.links a {
    /* font-size: 170%; */
    font-size: 30px;
    text-decoration-line: none;
    cursor: pointer;
    color: black;
    transition: color 0.15s;
}


@media (pointer: fine) { 
    .links a:hover {
        color: rgb(162, 1, 199);
    }
}


.sidebar {
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 55px;
    right: -55%;
    position: fixed;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255,255,255,0.97);
    backdrop-filter: blur(5px);
    transition: right 0.3s;
    
}

.show-sidebar {
    right: 0px;
}

.sidebar a {
    /* font-size: 170%; */
    font-size: 6vw;
    text-decoration-line: none;
    cursor: pointer;
    font-family: kollektif;
    color: black;
    transition: color 0.15s;
}

@media (pointer: fine) { 
    .sidebar a:hover {
        color: rgb(162, 1, 199);
    }
}



.title-panel {
    /* color: rgb(255, 255, 255); */
    color: black;
    
    text-decoration: line-through;
    text-decoration-color: white;
    font-family: kollektif;
    user-select: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-panel p {
    transition: all 0.25s;
    font-size: 15vw;
}

@media (pointer: fine) { 
    .title-panel p:hover {
        font-size: 16vw;
        color:rgb(162, 1, 199)
    }
    .title-panel p:active {
        font-size: 15.5vw;
        color:rgb(129, 0, 158)
    }
}

.panel {
    padding-top: 6vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-title {
    /* margin-top: 5vh; */
    color: black;
    font-size: 6vw;
    font-family: kollektif;
}

.sigma-background {
    background-image: url("./assets/sigma.svg");
    background-size: cover;
    
}

.panel, .content {
    box-sizing: border-box;
}

.content {
    overflow-y: hidden;
    /* margin-top: 2vh; */
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    max-width: 55%;
    max-height: 100%;
    display: flex;
    height: min-content;
    flex-direction: column;
    align-items: center;
    
}

.content p {
    color: black;
    font-size: 3vh;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    user-select: none;
    -webkit-user-drag: none;
    
}

@font-face {
    font-family: kollektif;
    src: url('./kollektif/Kollektif-Bold.ttf') format('truetype');
}
::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(233, 233, 233);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(209, 166, 218);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(169, 71, 191);
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}